/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

/* header */

.header {
  padding-top: 28px;
  padding-bottom: 80px;

  background-image: url(../img/header/background-1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../img/header/background-2x.jpg);
  }
}

.header .container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 80px;
}

.header .text-container {
  max-width: 724px;
  width: 100%;
}

.header-main-desc {
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: -0.54px;

  max-width: 607px;
  margin-bottom: 72px;
}

.header .start-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 20px;
  border-radius: 120px;
  border: 1px solid #fff;
  margin-bottom: 4px;
}

.header-start {
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 75%; /* 23.4px */
  letter-spacing: -0.54px;
}

.header .title-container {
  max-width: 694px;
  width: 100%;
  margin-bottom: 64px;
}

.header-title {
  color: #fff;
  font-family: Gilroy;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.6px;
  text-transform: uppercase;
}

.header-desc {
  margin-top: -5px;

  color: #fff;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  letter-spacing: -0.66px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #090909;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;

  height: 112px;
  max-width: 236px;
  width: 100%;
  padding: 0 16px;
  border-radius: 15px;
  background: #fff;
}

.header-list .list-item:nth-last-child(-n + 2) {
  max-width: 358px;
}

/* uniq-background */

.uniq-background {
  background-image: url(../img/uniq/background-1x.png);
  background-repeat: no-repeat;
  background-position: left 0 top 25%;
  background-size: contain;
}

/* uniq */

.uniq {
  padding-bottom: 280px;
}

.uniq-title {
  color: #090909;
  text-align: center;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: uppercase;

  max-width: 917px;
  margin: 0 auto 60px auto;
}

.uniq-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniq-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #469df8;
}

.uniq-list .list-item:nth-child(n + 2) {
  margin-left: -40px;
  mix-blend-mode: multiply;
}

.uniq-list .item-title-box {
  max-width: 240px;
  width: 100%;
}

.uniq-list .item-title {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.uniq-list .item-text {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

/* program */

.program {
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.program .container {
  /* padding: 0; */
}

.program-title {
  color: #090909;
  font-family: Gilroy;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.program-table {
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  border-radius: 10px;
  background: #1361f1;
  margin-bottom: 4px;
}

.header-column-name {
  max-width: 460px;
  width: 100%;
}

.header-column-result {
  max-width: 580px;
  width: 100%;
}

.column-name {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 4px;
}

.lesson-name-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 20px 30px;
  border-radius: 10px 0px 0px 10px;

  max-width: 460px;
  width: 100%;

  height: 120px;
  background: #469df8;
}

.lesson-name {
  color: #fff;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.result-text-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 20px 30px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #469df8;

  height: 120px;
  max-width: 580px;
  width: 100%;
}

.result-text {
  color: #090909;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

/* tariffs */

.tariffs {
  background: #469df8;
  background-image: url(../img/tariffs/background.svg);
  background-position: center;
  background-attachment: fixed;
}

.section {
}

.container {
}

.tariffs-title {
  color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-family: Gilroy;
  font-size: 200px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.tariffs-container {
  position: relative;

  max-width: 1045px;
  width: 100%;
  margin: -85px auto 0 auto;
}

.title-tariffs-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 20px;
  border-radius: 60px;
  background: #1361f1;
}

.title-tariffs-text {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.about-lessons-container-desktop {
  position: absolute;
  top: 127px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 10px;
  border-radius: 60px;
  background: #1361f1;
}

.about-lessons-desktop {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;

  max-width: 667px;
}

.students-communication-container-desktop {
  position: absolute;
  top: 1180px;
  left: 0;
}

.author-communication-container-desktop {
  position: absolute;
  top: 1365px;
  left: 0;
}

.online-author-container-desktop {
  position: absolute;
  top: 1915px;
  left: 0;
}

.price-for-you-container-desktop {
  position: absolute;
  top: 2185px;
  left: 0;
}

.price-for-you-now-container-desktop {
  position: absolute;
  top: 2385px;
  left: 0;
}

.tariffs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin-bottom: 40px;
}

.tariffs-list .list-item {
}

.tariffs-title-box {
  height: 107px;
  max-width: 345px;
  width: 100%;

  margin-bottom: 100px;
}

.tariff-title {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.tariff-subtitle {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}

.about-lessons-container {
  display: none;
}

.lessons-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 20px 16px;
  max-width: 340px;
  width: 100%;
  border-radius: 15px;
  background: #fff;

  margin-bottom: 122px;
}

.lessons-list .list-item {
  color: #090909;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.lessons-list .list-item span {
  font-weight: 600;
}

.students-communication-container {
  display: none;
}

.students-communication {
}

.students-communication-item {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 340px;
  width: 100%;
  padding: 20px 16px;
  border-radius: 15px;
  background: #fff;

  margin-bottom: 122px;
}

.students-communication-text {
  color: #090909;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.author-communication-container {
  display: none;
}

.author-communication-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  height: 428px;
  padding: 20px 16px;
  max-width: 340px;
  width: 100%;
  border-radius: 15px;
  background: #fff;

  margin-bottom: 122px;
}

.author-communication-list .author-item {
  color: #090909;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.author-communication-list .author-item span {
  font-weight: 600;
}

.online-author-container {
  display: none;
}

.online-author {
}

.online-author-item {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 340px;
  width: 100%;
  padding: 20px 16px;
  border-radius: 15px;
  background: #fff;

  margin-bottom: 186px;
}

.online-author-text {
  color: #9d9d9d;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;

  text-decoration: line-through;
}

.online-author-text span {
  font-weight: 600;
}

.price-for-you-container {
  display: none;
}

.price-for-you {
}

.price-item {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 340px;
  height: 74px;
  width: 100%;
  padding: 16px;
  border-radius: 15px;
  background: #fff;

  margin-bottom: 126px;
}

.price-text {
  color: #9d9d9d;
  text-align: center;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  text-decoration: line-through;
}

.price-for-you-now-container {
  display: none;
}

.price-for-you-now {
}

.price-now-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  max-width: 340px;
  height: 108px;
  width: 100%;
  padding: 16px;
  border-radius: 15px;
  background: #fff;
}

.price-now-text {
  color: #090909;
  text-align: center;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.price-now-devide {
  color: #1361f1;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

/* first-item 1 */

.tariffs-list
  .list-item:nth-child(1)
  .author-communication-list
  .author-item:nth-child(n + 1) {
  color: #9d9d9d;
  text-decoration: line-through;
}

/* first-item 2 */

.tariffs-list
  .list-item:nth-child(2)
  .author-communication-list
  .author-item:nth-child(n + 3) {
  color: #9d9d9d;
  text-decoration: line-through;
}

.tariffs-list .list-item:nth-child(2) .online-author-text {
  color: #090909;
  text-decoration: unset;
}

/* first-item 3 */

.tariffs-list .list-item:nth-child(3) .online-author-text {
  color: #090909;
  text-decoration: unset;
}

/* buy-btn */

.buy-btn {
  display: block;

  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 22.979px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.46px;
  text-transform: uppercase;

  padding: 24px;
  border-radius: 50px;
  background: #ff6d9b;
  border: inherit;
  max-width: 492px;
  width: 100%;
  margin: 0 auto;
}

/* bonuses */

.bonuses {
}

.section {
}

.container {
}

.bonuses-title {
  color: #090909;
  text-align: center;
  font-family: Gilroy;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.bonuses-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bonuses-list .list-item {
  position: relative;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 20px;
  height: 373px;
  padding: 0 12px 20px;
  background: #edf5fe;
  max-width: 340px;
  width: 100%;
}

.bonuses-list .bonus-image {
  position: absolute;
  left: 50%;
  top: 3px;

  transform: translate(-50%);
}

.bonuses-list .bonus-text {
  color: #090909;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.bonuses-list .bonus-text span {
  font-weight: 600;
}

.bonuses-list .list-item:nth-child(3) .bonus-text {
  color: #090909;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.271px;

  max-width: 297px;
  margin: 0 auto;
}

.bonuses-list .list-item:nth-child(3) .bonus-text span {
  font-size: 18px;
  letter-spacing: -0.36px;
}

.bonus-desc {
  margin-top: 10px;

  color: #469df8;
  text-align: center;
  font-family: Gilroy;
  font-size: 12.21px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.244px;
}

.bonuses-list .list-item:nth-last-child(-n + 3) {
  height: 450px;
}

/* cases */

.cases-title {
  color: #090909;
  font-family: Gilroy;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

/* swiper */

.swiper {
  cursor: pointer;
}

.mySwiper1 {
  /* max-width: 400px; */
}

.swiper-wrapper {
  padding-left: 15px;
  margin-bottom: 40px;
}

.swiper-slide {
  max-width: 400px;
}

.swiper-pagination {
  --swiper-pagination-color: #469df8;
}

/* footer */

.footer {
  padding: 40px;
  background: #469df8;
}

.creator-link {
  display: block;
}

.creator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
}

.creator-text {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
